.menu {
    position: relative;
    width: 800px;
}

.menu ul {
    background-color: blue;
    position: absolute;
    display: flex;
    cursor: pointer;
    color: white;
    left: 0px;
}

.menu ul li {
    position:relative;
    display: block;
    margin-left: 0px;
    width: 200px;
    height: 20px;
}

.menu ul li ul {
    display: none;
    padding: 10px 0px;
}

.menu li ul li {
    padding: 5px 10px;
    position: relative;
    float: left;
}

.menu ul li:hover ul {
    display: block;
    cursor: pointer;
}
